body{
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #d32f2f, #5d4037 );
 }
 
 * {
     box-sizing: border-box;
   }
   
   html {
     font-size: 16px;
   }
   
   .label {
     border: 2px solid black;
     width: 90%;
     max-width: 600px;
     margin: 2% auto;
     padding: 0 5%;
     text-align: right;
   }
   
   header  {
     text-align: center;
     margin: 1% 0;
     letter-spacing: 0.01em;
     font-size: 2.5vm;
     background-image: url('candy1.png'), url('pattern.svg');
     background-blend-mode: overlay;
 }
 h1{
     font-family: Georgia;
     color: black;
     text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.5);
     font-size: 2.5vm;
     
 
 }
   
   p {
     margin: 0;
     display: flex;
     justify-content: space-between;
     font-size: 1rem;
     color: #000000;
     text-shadow: 1px 1px 2px rgba(150, 0, 0, 255);
   }
   
   .divider {
     border-bottom: 1px solid black;
     margin: 1% 0;
   }
   
   .bold {
     font-weight: 800;
   }
   
   .large {
     height: 1vh;
   }
   
   .large, .medium {
     background-color: black;
     border: 0;
   }
   
   .medium {
     height: 5px;
     background-color: #000000;
   }
   
   .small-text {
     font-size: 0.85rem;
   }
   
   
   .calories-info {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
   }
   
   .calories-info h2 {
     margin: 0;
   }
   
   .left-container p {
     margin: -5px -2px;
     font-size: 2em;
     font-weight: 700;
   }
   
   .calories-info span {
     margin: -7px -2px;
     font-size: 2.4em;
     font-weight: 700;
   }
   
   .right {
     justify-content: flex-end;
   }
   
   .indent {
     margin-left: 1em;
   }
   
   .double-indent {
     margin-left: 3em;
   }
   
   .daily-value p:not(.no-divider) {
     border-bottom: 1px solid #6b6969;
   }
   
   .note {
     font-size: 0.6rem;
     margin: 5px 0;
   }
 
 #About p{
     font-family: Georgia;
     font-size: 25px;
     line-height: 1.6;
     max-width: 600px; 
     margin: 0 auto; 
     padding: 20px; 
     
 }
 h2, h3, h4 {
     font-size: 30px;
 }
 
 
 #Facts li{
     font-family: Georgia;
     font-size: 25px;
     line-height: 1.6;
     max-width: 600px; 
     margin: 0 auto; 
     padding: 20px; 
 }